html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto", sans-serif;
}

.w3-sidebar {
z-index: 3;
width: 250px;
top: 43px;
bottom: 0;
height: inherit;
}

.top-bar {
overflow: hidden;
background-color:#FF5733;
position: fixed;
/* Set the navbar to fixed position */
top: 0;
left: 0;
/* Position the navbar at the top of the page */
width: 100%;
/* Full width */
}

.left-half {
    background-color: white;
    float: left;
}
.right-half {
    background-color: white;
    float: right;
}